################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/presentations/CopilotIndices/17.13.444.19527
/.vs/presentations/FileContentIndex
